#header {
  padding: 15px 15px;

  h1 {
    padding: 0 0 10px 0;
    text-align: center;
  }

  .input-block {
    display:flex;
    position: relative;
    input[type="text"] {
      flex: 1;
      height: 40px;
      padding: 0 60px 0 20px;
      border-radius: 20px;
      border: none;
      font-size: 20px;
      color: #fff;
      background: #282851;
    }

    button {
      overflow: hidden;
      position: absolute;
      top: 50%; 
      right: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;      
      font-size: 0;
      text-transform: uppercase;
      transform: translate(0,-50%);
      background-color: #4288fd;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 14px;
        height: 3px;
        background: #fff;
      }

      &::before {        
        transform: translate(-50%,-50%);
      }

      &::after {        
        transform: translate(-50%,-50%) rotate(90deg);
      }
    }
  }
}